/* General body */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
/*    background-color: #f5fbf5; */
    background-color: #F5F7FB;
}

.blob-5 {
    position: absolute;
    width: 15%;
    height: 20%;
/*    width: 200px;
    height: 200px; */
    right: 0%;
}

.blob-4 {
    position: fixed;
    width: 11%;
    height: 18%;
    bottom: 0%;
}

/* Start Page */
.startPage {
/*    background: #FFFF00; */
    width: 500px;
    height: 100px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.startPage-el {
    text-align: center;
}

.startPage-el > h1 {
    font-family: 'karla';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 37px;
    color: #293264;
}

.startPage-el > p {
    font-family: 'Inter';
    padding-top: 20px;
}

.startPage-el > button {
    margin-top: 40px;
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
    background-color: #4D5B9E;
    color: white;
    font-family: 'Inter';
    font-size: 15px;
    cursor: pointer;
}

.startPage-el > button:hover {
    transform: scale(1.1);
}

/* QuestionPage */
hr {
    margin-top: 30px;
    color: red;
}

.question-page {
/*    background: #FFFF00; */
    position: absolute;
    width: 85%;
    margin-top: 30px;
    text-align: center; 
    margin: 1.5% 8%;
    left: 0;
    right: 0;
    
}

.questionpage-h1{
    font-family: 'Karla';
    font-size: 150%;
    color: #293264;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
}

.answer-list {
    display: flex;
    margin-top: 30px;
    list-style-type: none;

}

.answer-list > li {
    margin-right: 1.5%;
    border-style: groove ;
    border-radius: 20px;
    border: 0.794239px solid #4D5B9E;
    padding: 1% 5%;
    cursor: pointer;
    font-family: 'Inter';
    font-weight: 500;
    color: #293264;
    font-size: 100%;
}

.answer-list > li:hover {
    background-color: #D6DBF5;
}

.question-page > button {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    background-color: #4D5B9E;
    color: white;
    font-family: 'Inter';
    font-size: 15px;
    cursor: pointer;       
}

/* dispaly correct answer */
span {
    color: #293264;
    font-family: 'Inter';
    padding-right: 30px;
    font-size: 120%;

}


/* smaller screen sizes */
@media screen and (max-width: 750px) {
    
    .blob-5 {
        width: 17%;
        height: 18%;
    }

    .blob-4 {
        width: 18%;
        height: 14%;
    }

    /* Start Page*/
    .startPage-el > h1 {
        font-weight: 500;
        font-size: 40px;
    }

    .startPage-el > button {
        margin-top: 30px;
        padding: 10px 40px;
        border-radius: 10px;
        font-size: 15px;
    }

    .startPage-el > button:hover {
        transform: scale(1.1);
    }
    
    .questionpage-h1{
        font-family: 'Karla';
        font-size: 110%;
        color: #293264;
        font-weight: bolder;
        font-style: normal;
        text-align: left;
    }

    .answer-list > li {
        margin-right: 2.5%;
        border: 0.394239px solid #4D5B9E;
        padding: 1.4% 4.3%;
        font-weight: 300;
        font-size: 9px;
    }

    .question-page > button {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 6px 30px;
        font-size: 15px;     
    }
    
    /* dispaly correct answer */
    span {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        color: #293264;
        font-family: 'Inter';
        padding-right: 30px;
        font-size: 100%;
    }

}